*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    width: 80vw;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* .parent:hover{
background-color: black;
} */
 .child{
    width: 80vw;
    height: 20vh;
    background-color: white;
    /* transition-property: all;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; */ 
    animation-name: dragonBall;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    position: absolute;
    left: 0;
}
/* .child:hover{
    transform: translateX(810px);
    background-color: orange;
} */ 
 .body{
    background-color: black;
    width: 100vw;
    height: 100vh;
 }


@keyframes dragonBall {
    
    from{
      
        left: 0px;
    }
    25%{
     
      
    }
    50%{
      

    }
    75%{
     
 
    }
    to{
       
        transform: translateX(810px);

    }
}